#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background-color: black;
}

.tytulFilmu {
    color: red;
    font-size: 30px;
    background-color: black;
}
